body{
  padding:0;
  margin:0;
}
ul {
  list-style-type: none;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: Cursive;
  font-size: 18px;
  color:		#606060;
}
.sublist{
 /* font-size:10px;*/
}

/* Change the link color on hover */
li a:hover {
  background-color: #d3d3d3;
  color: black;
}
.heading{
  padding:30px;
  padding-left: 50px;
  margin-bottom:20px;
  font-family: Cursive;
  margin-top: 1px;
  display: inline-block;
}
.first-section{
  display:inline-block;
  width:75%;
  float: right;
 
 
 }
.menubar{
   display:inline-block;
   width:25%;
   height: 600px;
  /* margin-top:5px;*/
   float:left;
   overflow: scroll;
   position:fixed;
   
}
.image{
  margin-left:30px;
  height: 550px;
}

.search{
  float: right;
  margin-right: 40px;
  
}
.cart{
  padding-right: 20px;
}

img {
   height:auto;
   vertical-align: middle;
   padding:20px;
}

.img1{
  flex:0.6666;
  margin-right: 15px;
  margin-left:28px;
}

.img2{
  flex:0.8;
  margin-right: 17px;
}

.img3{
  flex:0.6666;
  margin-right: 17px;
}

.img4{
  flex:0.6666;
  margin-right: 17px;

}


.image-container{
  width:95%;
  display:flex;
  height:auto;
  vertical-align: middle;
  /*padding:20px;
  margin-left: 5px;*/
}


.image-container-1{
   padding-left:5px;  
}

@media only screen and (max-width: 600px){
  .image-container{
    width:90%;
    flex-direction: column;
    height:auto;
    vertical-align: middle;
  }

  img{
    width:50%;
  }
}