body{
  padding:0;
  margin:0;
}
ul {
  list-style-type: none;
}
li a {
  display: block;
  /*color: #000;*/
 padding: 8px 16px;
  text-decoration: none;
  font-family: cursive;
  font-size: 18px;
  color:black;
 }


/* Change the link color on hover */
li a:hover {
  background-color: #d3d3d3;
  color: black;
}

.heading{
  padding:30px;
  padding-left: 50px;
  margin-bottom:20px;
  font-family: cursive;
  margin-top: 1px;
  display: inline-block;
}

.menu-icon{
/*  display:none;*/
}

.first-section{
  display:inline-block;
  width:80%;
  float: right;
  margin-left: 30px;
 }


   
.image-position{
  position:relative;
}


.image{
  margin-left:30px;
  height: 550px;
  opacity: 0.7;
  margin-bottom:32px;
  }

.text-over-image{
  position: absolute;
  left:100px;
  top:10px;
  font-family: Cursive; 
  font-size: 30px;
  
}

.search{
  float: right;
  margin-right: 40px;
  
}

.shop{
  background-color: black;
  color: white;
  padding:12px 30px;
  font-size:18px;
}



.cart{
  padding-right: 20px;
}

img {
   height:auto;
   vertical-align: middle;
   /*padding:20px;*/
}

.img1{
  flex:0.6666;
  
}

.img2{
  flex:0.8;
  
 
}

.img3{
  flex:0.6666;
  
  
}
.img4{
  flex:0.6666;
}
.image-container{
  width:93%;
  display:flex;
  flex-wrap: wrap;
  vertical-align: middle;
 
}
.section{
  position:relative;
  margin-left:30px;
  font-weight: bold;
  font-size: 20px;
  }
.size{
	color: black;
    font-size: 1em;
}

.subscribe{
  background-color: black;
  color:white;
  padding:30px 42px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  height: auto;
  
}
.email{
  width: 100%;
  height: 35px;
  padding:5px;
  font-size: 17px;
  
}
.button-subscribe{
  background-color: red;
  color: white;
  margin-top:30px;
  padding:10px 30px;
  font-size:17px;
}

.button-subscribe:hover{
  background-color: #d3d3d3;
  color:black;
  cursor: pointer;
  
}

.grey-background{
  background-color:#F0F0F0;
  font-family: 'Roboto', sans-serif;
  
}
.contact{
  width:35%;
  display: inline-block;
  margin-top: 35px;
  vertical-align: top;
}
.contactus{
  margin-left:30px;
  width: 80%;
 padding:10px;
margin-top:8px;
 border-color: #d3d3d3;
}
.text-alignment{
  text-align: center;
}

.shop:hover{
  background-color: #d3d3d3;
  color:black;
  cursor: pointer;
}

.aboutus{
  line-height: 120%;
  font-size: 15px;
  color:black;
}

.about-position{
  width:20%;
}

.store{
  width:30%;
} 
.black-background {
  display: none;
}
#close{
  display:none;
  
}

   #menubar{
  
    width:20%;
     height: 100%;
    
     float:left;
     overflow: scroll;
     position:fixed;
     background-color: white;
      }

      .imagecontainer{
        display: none;
      }


  @media only screen and (max-width: 480px){
  
    #menubar{
          width:50%;
          height: 100%;
          float:left;
          overflow: scroll;
          position:fixed;
          background-color: white;
        }
                                                                          
    
        .menu-icon{
          display:inline;
          margin-left:180px;
        }
        .black-background{
          background-color: black;
          color:white;
          display:inline-block;
          width: 100%;
          
          
        }
        .first-section{
          width:100%;
        height: auto;
        }
        .menu-icon:hover {
          
          padding:10px;
          background-color: #d3d3d3;
          color:black;
        }
  #overlay {
          position: fixed;
          display: none;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.5);
          z-index: 2;
          cursor: pointer;
        }
     #close{
            display:inline-block;
          }

         .shop{

         }

         .text-over-image{
          position: absolute;
          left:80px;
          top:5px;
          font-family: Cursive; 
          font-size: 15px;
           }
          .collection{
            display: none;
          }

          .image-container{
            display:none;
          }
          .imagecontainer{
            width:97%;
            display:flex;
            flex-wrap: wrap;
            vertical-align: middle;
           }
          
        
      }
    
      
    /*@media screen and (max-width: 400px) {
      .menubar a {
        text-align: center;
        float: none;
      }
    }*/